<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

<!-- JSPC servlet mappings start -->

<!--   Commenting out so I can change the index.jsp page -->

<!-- <servlet> -->
<!-- <servlet-name>myjsp</servlet-name> -->
<!-- <jsp-file>/myjsp.jsp</jsp-file> -->
<!-- <init-param> -->
<!-- <param-name>hello</param-name> -->
<!-- <param-value>test</param-value> -->
<!-- </init-param> -->
<!-- </servlet> -->
 
<!-- <servlet-mapping> -->
<!-- <servlet-name>myjsp</servlet-name> -->
<!-- <url-pattern>/myjsp</url-pattern> -->
<!-- </servlet-mapping> -->
<display-name>Servlets</display-name>
<description> Servlets </description>-

 <!-- Define servlets that are included in the Theater application   -->


-<servlet>
<servlet-name>JSP</servlet-name>
<jsp-file>/index.jsp</jsp-file>
</servlet>

-<servlet-mapping>
<servlet-name>JSP</servlet-name>
<url-pattern>/servlet/JSP</url-pattern>
</servlet-mapping>



- <servlet> 
<servlet-name>ProgrammeServlet</servlet-name> 
<servlet-class>ProgrammeServlet</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>NouvelleRepresentationServlet</servlet-name> 
<servlet-class>NouvelleRepresentationServlet</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>RepresentationServlet</servlet-name> 
<servlet-class>RepresentationServlet</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>Panier</servlet-name> 
<servlet-class>Panier</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>NoPlaceServlet</servlet-name> 
<servlet-class>NoPlaceServlet</servlet-class> 
</servlet>


- <servlet> 
<servlet-name>HelloToServlet</servlet-name> 
<servlet-class>HelloToServlet</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>Validate</servlet-name> 
<servlet-class>Validate</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>EffectuerReservationServlet</servlet-name> 
<servlet-class>EffectuerReservationServlet</servlet-class> 
</servlet>


- <servlet-mapping> 
<servlet-name>ProgrammeServlet</servlet-name> 
<url-pattern>/servlet/ProgrammeServlet</url-pattern> 
</servlet-mapping>


- <servlet-mapping> 
<servlet-name>RepresentationServlet</servlet-name> 
<url-pattern>/servlet/RepresentationServlet</url-pattern> 
</servlet-mapping>



- <servlet-mapping> 
<servlet-name>NouvelleRepresentationServlet</servlet-name> 
<url-pattern>/servlet/NouvelleRepresentationServlet</url-pattern> 
</servlet-mapping>


- <servlet-mapping> 
<servlet-name>Panier</servlet-name> 
<url-pattern>/servlet/Panier</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>HelloToServlet</servlet-name> 
<url-pattern>/servlet/HelloToServlet</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>NoPlaceServlet</servlet-name> 
<url-pattern>/servlet/NoPlaceServlet</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>EffectuerReservationServlet</servlet-name> 
<url-pattern>/servlet/EffectuerReservationServlet</url-pattern> 
</servlet-mapping>


 <security-constraint>
    <web-resource-collection>
      <web-resource-name>user-resource</web-resource-name>
      <description>pages which require login</description>
      <url-pattern>/admin/*</url-pattern>
      <url-pattern>/servlet/NouvelleRepresentationServlet</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>il faut s'authentifier avant d'acceder à cette page</description>
      <role-name>admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>identifier vous</realm-name>
  </login-config>

  <security-role>
    <description>Any user of the system</description>
    <role-name>admin</role-name>
  </security-role>



</web-app>
